.c-fieldset {
  margin-left: $marginBetweenInputs;

  &:first-child {
    margin-left: 0;
  }

  &__content {
    display: flex;
    align-items: center;
  }

  label {
    width: 70px;
  }

  input {
    width: 30px;
  }

  &--smaller-label {
    label {
      font-size: 10px;
      width: 12px;
    }
    input {
      width: 60px;
    }
  }

  &--checkbox {
    label {
      width: auto;
    }
  }

  &--label-without-input {
    span {
      margin-top: 3px;
    }
  }
}
