.c-icon {
  cursor: pointer;
  position: relative;
  display: block;
  width: 16px;
  height: 16px;
  font-size: 10px;
  color: $colorSilverChalice;
  text-indent: -9999px;

  &:before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-indent: 0;
  }

  &:hover {
    background-color: $colorConcrete;
  }

  &--big {
    width: 30px;
    height: 30px;
    font-size: 13px;
  }

  &--regular {
    width: 17px;
    height: 17px;
  }

  &--inline {
    margin-top: 4px;

    + fieldset {
      margin-left: 5px;
    }
  }

  &--bordered {
    margin-top: 2px;
    box-sizing: border-box;
    font-size: 9px;
    width: 18px;
    height: 18px;
    border: 1px solid $colorMercury;
    border-radius: 2px;

    &:before {
      top: 4px;
      left: 4px;
      transform: none;
    }
  }

  &--no-hover {
    &:hover {
      background-color: transparent;
    }
  }
}
