.c-icon {
  position: relative;
  display: block;
  width: 20px;
  height: 20px;
  color: $colorSilverChalice;
  text-indent: -999px;

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(50%) translateY(50%);
    text-indent: 0;
  }

  &:hover {
    background-color: $colorConcrete;
  }
}
