@import '../utilities/letter-spacing';

.c-section {
  border-bottom: 1px solid $colorWildSand;

  &__headline {
    cursor: pointer;
    display: flex;
    align-items: center;
    height: $actionsHeadlineHeight;
    font-size: 10px;
    font-weight: 400;
    @include letterSpacing(100);
    text-transform: uppercase;
    color: $colorScorpion;

    &:hover .c-icon {
      background-color: $colorConcrete;
    }
  }

  &__headline-icon {
    margin-left: auto;

    &:hover {
      background-color: transparent;
    }
  }

  &__content {
    display: none;
    padding-bottom: $sectionContentPadding;

    &.active {
      display: block;
    }

    &__row {
      display: flex;

      &.hidden {
        display: none;
      }
    }

    > div + div {
      margin-top: 10px;
    }
  }

  &--space {
    padding: {
      top: $sectionContentPadding;
    }
  }
}
