@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i');

// Icons
@font-face {
  font-family: icons;
  src: url('../assets/icons/icons.eot?57jv0f');
  src: url('../assets/icons/icons.eot?57jv0f#iefix') format('embedded-opentype'),
    url('../assets/icons/icons.ttf?57jv0f') format('truetype'),
    url('../assets/icons/icons.woff?57jv0f') format('woff'),
    url('../assets/icons/icons.svg?57jv0f#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^='icon-'], [class*=' icon-'] {
  font-family: icons !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-align-left:before {
  content: '\e900';
  color: #6a6a6a;
}

.icon-align-right:before {
  content: '\e901';
  color: #6a6a6a;
}

.icon-align-v-bottom:before {
  content: '\e902';
  color: #6a6a6a;
}

.icon-align-v-center:before {
  content: '\e903';
  color: #6a6a6a;
}

.icon-align-v-middle:before {
  content: '\e904';
  color: #6a6a6a;
}

.icon-align-v-top:before {
  content: '\e905';
  color: #6a6a6a;
}

.icon-collapse:before {
  content: '\e906';
  color: #707070;
}

.icon-move-to-back:before {
  content: '\e907';
  color: #6a6a6a;
}

.icon-move-to-front:before {
  content: '\e908';
  color: #6a6a6a;
}

.icon-padding-expand:before {
  content: '\e909';
  color: #5e5e5e;
}

.icon-plus:before {
  content: '\e90a';
  color: #a6a6a6;
}

.icon-radius-expand:before {
  content: '\e90b';
  color: #5e5e5e;
}

.icon-swap:before {
  content: '\e90c';
  color: #5e5e5e;
}

.icon-ticker:before {
  content: '\e90d';
  color: #fff;
}

.icon-transform:before {
  margin-top: 4px;
  font-size: 17px;
  content: '\e90e';
  color: #d9d9d9;
}
