@font-face {
    font-family: "icons";
    src: url("../assets/fonts/icons.eot?48ccc159b2e32aa9bfb460e6d1edb898?#iefix") format("embedded-opentype"),
url("../assets/fonts/icons.woff2?48ccc159b2e32aa9bfb460e6d1edb898") format("woff2"),
url("../assets/fonts/icons.woff?48ccc159b2e32aa9bfb460e6d1edb898") format("woff"),
url("../assets/fonts/icons.ttf?48ccc159b2e32aa9bfb460e6d1edb898") format("truetype"),
url("../assets/fonts/icons.svg?48ccc159b2e32aa9bfb460e6d1edb898#icons") format("svg");
}

i {
    line-height: 1;
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-align-left:before {
    content: "\f101";
}
.icon-align-right:before {
    content: "\f102";
}
.icon-align-v-bottom:before {
    content: "\f103";
}
.icon-align-v-center:before {
    content: "\f104";
}
.icon-align-v-middle:before {
    content: "\f105";
}
.icon-align-v-top:before {
    content: "\f106";
}
.icon-collapse:before {
    content: "\f107";
}
.icon-move-to-back:before {
    content: "\f108";
}
.icon-move-to-front:before {
    content: "\f109";
}
.icon-padding-expand:before {
    content: "\f10a";
}
.icon-plus:before {
    content: "\f10b";
}
.icon-radius-expand:before {
    content: "\f10c";
}
.icon-swap:before {
    content: "\f10d";
}
.icon-ticker:before {
    content: "\f10e";
}
.icon-transform:before {
    content: "\f10f";
}
