{% extends "layouts/base.twig" %}
{% set pageName = 'app' %}

{% block content %}
<div class="o-panel">
  <section class="o-section c-actions">
  </section>

  <section class="o-section c-section">
    <h2 class="c-section__headline">Fill</h2>
  </section>

  <section class="o-section c-section">
    <h2 class="c-section__headline">Stroke</h2>
  </section>

  <section class="o-section c-section">
    <h2 class="c-section__headline">Shadow</h2>
  </section>

  <section class="o-section c-section">
    <h2 class="c-section__headline">Inner shadow</h2>
  </section>
</div>
{% endblock %}


