{% extends "layouts/base.twig" %}
{% set pageName = 'app' %}

{% block content %}
<div class="o-panel">
  <section class="o-section c-actions">
    {% include "components/icon-lists.twig" %}
  </section>

  <section class="o-section c-section c-section--space">
    <div class="c-section__content">
      <div class="c-section__content__row">
        <fieldset class="c-fieldset c-fieldset--smaller-label u-normal-width">
          <label>W</label>
          <input type="text" value="500" />
        </fieldset>
        <fieldset class="c-section-content-icon">
          <i class="c-icon icon-swap"></i>
        </fieldset>
        <fieldset class="c-fieldset c-fieldset--smaller-label u-normal-width">
          <label>H</label>
          <input type="text" value="500" />
        </fieldset>
        <i class="c-icon icon-transform"></i>
      </div>

      <div class="c-section__content__row">
        <fieldset class="c-fieldset c-fieldset--smaller-label u-normal-width">
          <label>X</label>
          <input type="text" value="500" />
        </fieldset>
        <div class="u-spacing"></div>
        <fieldset class="c-fieldset c-fieldset--smaller-label u-normal-width">
          <label>Y</label>
          <input type="text" value="500" />
        </fieldset>
      </div>

      <div class="c-section__content__row">
        <fieldset class="c-fieldset u-wide-width">
          <label>Rotation</label>
          <input type="text" value="0" />
        </fieldset>
      </div>
    </div>
  </section>

  <section class="o-section c-section c-section--space">
    <div class="c-section__content">
      <div class="c-section__content__row">
        <fieldset class="c-fieldset u-wide-width">
          <label>Radius</label>
          <input type="text" value="0" />
        </fieldset>
      </div>
      <div class="c-section__content__row">
        <fieldset class="c-fieldset u-wide-width">
          <label>Padding</label>
          <input type="text" value="0" />
        </fieldset>
      </div>
      <div class="c-section__content__row">
        <fieldset class="c-fieldset u-wide-width">
          <label>Layer</label>
          <div class="c-input-w-label u-95-width">
            <input type="text" value="Normal" />
          </div>
          <div class="c-input-w-label u-40-width">
            <input type="text" value="100%" />
          </div>
        </fieldset>
      </div>
    </div>
  </section>

  <section class="o-section c-section">
    <h2 class="c-section__headline">
      Fill
      <i class="c-icon c-section__headline-icon icon-plus">expand fill</i>
    </h2>
    <div class="c-section__content">
      test temporary content
    </div>
  </section>

  <section class="o-section c-section">
    <h2 class="c-section__headline">
      Stroke
      <i class="c-icon c-section__headline-icon icon-plus">expand stroke</i>
    </h2>
  </section>

  <section class="o-section c-section">
    <h2 class="c-section__headline">
      Shadow
      <i class="c-icon c-section__headline-icon icon-plus">expand shadow</i>
    </h2>
  </section>

  <section class="o-section c-section">
    <h2 class="c-section__headline">
      Inner shadow
      <i class="c-icon c-section__headline-icon icon-plus">expand inner shadow</i>
    </h2>
  </section>
</div>
{% endblock %}


