{% extends "layouts/base.twig" %}
{% set pageName = 'app' %}

{% block content %}
<div class="o-panel">
  <section class="o-section c-actions">
    <ul class="c-icon-list">
      <li>
        <a class="c-icon c-icon--big icon-align-left">align left</a>
      </li>
      <li>
        <a class="c-icon c-icon--big icon-align-v-center">align vertical center</a>
      </li>
      <li>
        <a class="c-icon c-icon--big icon-align-right">align right</a>
      </li>
      <li>
        <a class="c-icon c-icon--big icon-align-v-top">align top</a>
      </li>
      <li>
        <a class="c-icon c-icon--big icon-align-v-middle">align middle</a>
      </li>
      <li>
        <a class="c-icon c-icon--big icon-align-v-bottom">align bottom</a>
      </li>
    </ul>
    <ul class="c-icon-list">
      <li>
        <a class="c-icon c-icon--big icon-move-to-front">To front</a>
      </li>
      <li>
        <a class="c-icon c-icon--big icon-move-to-back">To back</a>
      </li>
    </ul>
  </section>

  <section class="o-section c-section">
    <h2 class="c-section__headline">
      Fill
      <a class="c-icon c-section__headline-icon icon-plus" href="#">expand fill</a>
    </h2>
  </section>

  <section class="o-section c-section">
    <h2 class="c-section__headline">
      Stroke
      <a class="c-icon c-section__headline-icon icon-plus" href="#">expand stroke</a>
    </h2>
  </section>

  <section class="o-section c-section">
    <h2 class="c-section__headline">
      Shadow
      <a class="c-icon c-section__headline-icon icon-plus" href="#">expand shadow</a>
    </h2>
  </section>

  <section class="o-section c-section">
    <h2 class="c-section__headline">
      Inner shadow
      <a class="c-icon c-section__headline-icon icon-plus" href="#">expand inner shadow</a>
    </h2>
  </section>
</div>
{% endblock %}


