{% extends "layouts/base.twig" %}
{% set pageName = 'app' %}

{% block content %}
<div class="o-panel">
  <section class="o-section c-actions">
  </section>

  <section class="o-section c-section">
    <h2 class="c-section__headline">
      Fill
      <a class="c-icon c-section__headline-icon icon-plus" href="#">expand fill</a>
    </h2>
  </section>

  <section class="o-section c-section">
    <h2 class="c-section__headline">
      Stroke
      <a class="c-icon c-section__headline-icon icon-plus" href="#">expand stroke</a>
    </h2>
  </section>

  <section class="o-section c-section">
    <h2 class="c-section__headline">
      Shadow
      <a class="c-icon c-section__headline-icon icon-plus" href="#">expand shadow</a>
    </h2>
  </section>

  <section class="o-section c-section">
    <h2 class="c-section__headline">
      Inner shadow
      <a class="c-icon c-section__headline-icon icon-plus" href="#">expand inner shadow</a>
    </h2>
  </section>
</div>
{% endblock %}


