.u-normal-width {
  width: 78px !important;
}

.u-wide-width {
  width: 100% !important;
}

.u-94-width {
  width: 94px !important;
}

.u-62-width {
  width: 62px !important;
}

.u-60-width {
  width: 60px !important;
}

.u-40-width {
  width: 40px !important;
}

.u-34-width {
  width: 34px;
}

.u-26-width {
  width: 26px;
}

.u-95-width {
  width: 95px !important;
}
