input {
  box-sizing: border-box;
  height: 22px;
  font-size: $globalFontSize;
  color: $inputColor;
  border: none;
  border-bottom: 1px solid $colorMercury;

  &:focus {
    border-bottom-color: $colorBlueRibbon;
    outline: none;
  }

  &[type='number']::-webkit-inner-spin-button,
  &[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
