.o-wrapper {
  box-sizing: border-box;
  background: linear-gradient(lighten($colorSilverChalice, 33%), $colorWildSand);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: {
    top: 20px;
    bottom: 20px;
  }
}
