<ul class="c-icon-list">
  <li>
    <i class="c-icon c-icon--big icon-align-left">align left</i>
  </li>
  <li>
    <i class="c-icon c-icon--big icon-align-v-center">align vertical center</i>
  </li>
  <li>
    <i class="c-icon c-icon--big icon-align-right">align right</i>
  </li>
  <li>
    <i class="c-icon c-icon--big icon-align-v-top">align top</i>
  </li>
  <li>
    <i class="c-icon c-icon--big icon-align-v-middle">align middle</i>
  </li>
  <li>
    <i class="c-icon c-icon--big icon-align-v-bottom">align bottom</i>
  </li>
</ul>
<ul class="c-icon-list">
  <li>
    <i class="c-icon c-icon--big icon-move-to-back">To back</i>
  </li>
  <li>
    <i class="c-icon c-icon--big icon-move-to-front">To front</i>
  </li>
</ul>
