// Fonts
$openSansFont: 'Open Sans', sans-serif;
$globalFontSize: 13px;
$inputColor: $colorScorpion;
$labelColor: $colorGray;

// Common
$marginBetweenInputs: 8px;
$actionsHeadlineHeight: 40px;
$checkboxHeight: 12px;
$colorboxSize: 18px;
